/* poistaa listojen merkkipallurat kaikkialta */
ul {
    list-style-type: none;
}

/* headerin logo ja linkkien toiminta*/
header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
    height: auto;
    float: left;
}

nav {
    margin-left: 20px;
}

/* linkkien säädökset väreistä ja alleviivauksista kaikkialle */
a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color:darkblue
}

/* Tämä on vain article news osion otsikolle */

/* alunperin tehty että etusivun kuva toimii kivasti pienillä ruuduilla */
main img {
    border-radius: 10px;
    max-width: 100%;
}

section h2{
    text-align: center;
    margin-top: 50px;
}

section p {
    text-align: center;
}

/*  tein alunperin ohjeiden mukaan tämän taulukon niin että siinä oli 2x3 ruutua, mutta ei ollu kiva.
    tekoäly antoi tällaisen ihan jeesus vastauksen että ne taittuu kivasti mihinkä tahansa kokoon */
.fgrid {
    max-width: calc(3 * 320px + 2 * 24px);
    margin: 0 auto;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* tässä on kunkin kortin tiedot, lähinnä väri ja reunat */
.fcard {
    background: #D9F3FF ;
    border: 1px solid: #DDDADA;
    border-radius: 15px;
    padding: 20px;
}

.fcard p {
    text-align: left;
}

/* korteille hover toiminto. Siirtyy vähän ylös ja antaa varjon */
.fcard:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
}

h1 {
    font-size: 2.5em;
}

.centering {
    text-align: center;
    margin-top: 30px;
}

/* tämä on uutisosion modaukset */
.news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    font-size: 1.1em;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    width: 80%;
    margin: auto;
}

.news p {
    text-align: left;
    background-color: #FFC082;
    border: 2px solid #99e6ff;
    border-radius: 10px;
    padding: 10px;
}

/* uutisissa antaa vasemmanpuoleisille tilaa oikealle*/
.left {
    margin-right: 20px;
}

/* footerin linkit vierekkäin ja infot alle */
footer {
    border-top: 3px solid #99e6ff;
    padding: 40px 20px;
    font-family: system-ui, sans-serif;
    text-align: center;
}
.footerlinks {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 20px;
    align-items: flex-start;
}
.footerlinks ul {
    padding: 0;
    margin: 0;
}

.footerinfo {
    font-size: 14px;
    color: #555;
}
footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
}


@media (max-width: 800px) {

    article {
    flex-direction: column;
    }
    footer ul li {
    flex-direction: column;
}
}
